:root {
  --neuron-history-height: 60px;
}

.e-scope .row {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
}

.e-scope .column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.e-scope .container {
    position: relative;
}

/* History */

.e-scope .neuron-history {   
    height: var(--neuron-history-height);
    border-bottom: 2px solid #e9ecef;
    overflow-x: scroll;
    position: relative;
}

.e-scope .neuron-history::-webkit-scrollbar {
    display: none;  /* WebKit */
}

.e-scope .neuron-history > div {
    min-width: 250px;
    padding: 10px;
    border-right: 1px solid #e9ecef;
    cursor: pointer;
    user-select: none;
}

.e-scope .neuron-history > div:hover {
    background-color: #b8b8b880;
}

.e-scope .scroll-left-button {
    position: fixed;
    left: 9px;
    top: 9px;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 50%;
    border: 2px solid #007bff;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease;
}

.e-scope .scroll-left-button:hover {
    background-color: #007bff;
    transform: scale(1.05);
}

.e-scope .scroll-left-button::before {
    content: "◀";
    color: #007bff;
    font-size: 18px;
}

.e-scope .scroll-left-button:hover::before {
    color: white;
}

/* Feature View */
.e-scope .feature-view-container {
    position: relative;
    width: 300px;
    height: calc(100vh - var(--neuron-history-height));
    transition: all 0.3s ease-in-out;
    overflow: hidden;
    border-right: 1px solid #e9ecef;
}
  
.e-scope .toggle-button {
    position: absolute;
    transform: translateX(250px);
    left: 10px;
    top: 10px;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 3px;
    background: none;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.3s ease-in-out;
}

.e-scope .toggle-button:hover {
    background-color: #d4d4d4;
}